.padding {
    margin-top: 10px;
}

.padding:hover{
    background-color: turquoise;
}

body, ul{
    padding: 0px;
    margin: 0px; 
}

#heading{
    background-color: teal;
    height: 50px;
    
}

li {
    display: inline-block;
    float: none;
    padding-left: 10px;
    padding-top: 18px;
}

ul {

    width: 100%;
    display: table;
    text-align: center;
}

ul li a:hover{
    background-color: forestgreen;
    padding: 16px 18px;

}

ul li a.active{
    padding: 16px 18px;
    background-color: goldenrod;
}

#div2 {
    text-align: center;
    padding-top: 10px;
    
}

#label {
    color: white;
    background-color: Black;
    border-radius: 4px;
    position:relative;
    bottom: 5px;
}

#game {
    margin-top:20px;
    width:auto;
    height:500px;
    border: aquamarine solid;

}

#image {
    position: relative;
   

}

#board {

    height: 50vmin !important ;
    width: 100vmin;
    border: black solid;
    margin: 0 0 20px 20px;
    position: relative;
    top: -405px;
    margin-right: 0%;
    overflow: hidden;
   
}

.squareblack {
    height: 12.5%;
    width:  12.5%;
    display: inline-block;
    background-color: rgb(247, 247, 243);
    position: relative;

}

.squarewhite {
    height: 12.5%;
    width:  12.5%;
    display: inline-block;   
     background-color: rgb(172, 119, 5);
    position: relative;

}



#rownumbers {

    padding-bottom:13px;
    margin:0;
    position:relative;


}

#columns {
    display: inline-block;
    position: relative;
    top: -415px;
    padding-left:4.8%;
}

#a, #b, #c, #d, #e, #f, #g, #h{
    margin-top: -5px;


}

.PawnWhite {
    margin-left:18px;
    width: 6vmin;
    height: 6vmin;
    

}

.PawnBlack {
    margin-left:18px;
    position: relative;
    z-index: 1;
    width: 6vmin;
    height: 6vmin;
}

.container{
    width:0.5px;
    height: 0.5px;
    position: absolute;
    background-color: aqua;
    top: 99%;
    left: 70%;
    font-size: 1%;
    color: ivory;
    
}

.test {
    background-color: aqua;
}


span {

    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

