body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4; /*bacgroung color alb*/
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;

}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#ef0707;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/Backgroundimg.jpg') ;
  text-align:center;
  color:#ffffff;
  background-size:cover;
}


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}
@media screen and (max-width: 600px) {
  #showcase h1{
    font-size: 30px;
  }
}


#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a /*#2C3E50*/
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:300px;
}

/* Sidebar */
#sidebar1{
    height: 100px;
    width: 400px;
	margin-top: -355px;
    margin-right: 162px;
    padding: 5px 0 0 5px;
    position:absolute;
    right: 0; // position element to the right
}
#sidebar2{
    height: auto;
    width: 250px;
	margin-top: -5370px;
    margin-right: 22px;
    padding: 5px 0 0 5px;
    position:absolute;
    right: 0; // position element to the right

}


#video{
text-align:center;
}
@media screen and (min-width: 1600px)  {
  #video { display: none; 
}
 }
  
 
@media screen and (max-width: 1600px)  {
  #sidebar2 { display: none; }
  article { width: 100%; }
  
} 
@media screen and (min-width: 1550px)  {
  #icon{ display: none; }
  
} 


aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:30px;
  margin-top:50px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

/*Phone number bottom of screen*/
.phoneMe {
		text-align:center;
		position: fixed;
		right: 0px;
		bottom: 0px;
		left: 0px;
		height: 30px;
		background: green;
		color: white;
		}


#sidebar3 {
	background-color:#35424a;
	width:370px;
	height:auto;
	position:relative;
	top:500px;
	right:-1420px;
	color:white;
	clear:both;
	}

@media screen and (max-width : 760px){
	#sidebar3 {
	width:80%;
	position:relative;
	left:30px;
	top:auto;
	}

   }


   
#sidebar3 h3{
	padding:20px 0 20px 30px;
	
	}

#sidebar3 p{
	text-align:left;
	font-size:3em;
	margin:0;
	}

#sidebarpoza {
	width:80%;
	height:auto;
	margin-left:20px;
	}

#mainart {
	margin:30px 0 30px 0;
	width:1200px;
	height:500px;
	position:relative;
	background-color:#DCDCDC;
	color:black;
	left:210px;
	top:-180px;
	text-align:left;
	display:initial !important;
	}

#main-img {
	width:60%;
	height:auto;
	float:left;
	margin:0 20px 0 20px;
	padding:30px;
}



#mainart h1,p{
		padding:20px 0 20px 30px;

	}

@media screen and (max-width : 760px){
	#mainart{
	width:100%;
	position:static;

	}

   }
@media screen and (min-width : 760px){
	#articol{
	position:relative;
	top:-300px;
	width:1300px;
	font-size:2em;

	}

   }

#articolp {
	position:relative;
	top:-25px;
}


footer {
	margin:0;



	}

#footerServicii {
	position:relative;
	top:100px;
	}